body {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

@anim-duration: 0.6s;
@anim-scale: 1.1;
@anim-left: 200%;

@image-left: 30px;


.images-container {
  max-width: 692px;
  margin: 0 auto;

  .images-list {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #DBDBDB;
    border-radius: 10px;
    list-style-type: none;
    width: 700px;
    height: 700px;

    li {
      position: absolute;
      left: -1000px;

      &.show {
        left: @image-left;
        top: @image-left;
      }

      &.showInRight {
        -webkit-animation: show-in-from-right @anim-duration;
        animation: show-in-from-right @anim-duration;
      }

      &.showInLeft {
        -webkit-animation: show-in-from-left @anim-duration;
        animation: show-in-from-left @anim-duration;
      }

      &.showOutLeft {
        -webkit-animation: show-out-to-left @anim-duration;
        animation: show-out-to-left @anim-duration;
      }

      &.showOutRight {
        -webkit-animation: show-out-to-right @anim-duration;
        animation: show-out-to-right @anim-duration;
      }

    }

    img { border-radius: 5px; }
  }
}


/*------------ NEXT direction ------------*/
@-webkit-keyframes show-in-from-right {
  0% {
    left: @anim-left;
    opacity: 0;
    transform: scale( @anim-scale );
  }
  80% {
    left: @image-left;
    opacity: 1;
    transform: scale( @anim-scale );
  }
  100% {
    left: @image-left;
    transform: scale(1);
  }
}

@-webkit-keyframes show-out-to-left {
  0% {
    left: @image-left;
    transform: scale(1);
  }
  20% {
    left: @image-left;
    opacity: 1;
    transform: scale( @anim-scale );
  }
  100% {
    left: (-1) * @anim-left;
    opacity: 0;
    transform: scale( @anim-scale );
  }
}


/*------------ PREV direction ------------*/
@-webkit-keyframes show-in-from-left {
  0% {
    left: (-1) * @anim-left;
    opacity: 0;
    transform: scale( @anim-scale );
  }
  80% {
    left: @image-left;
    opacity: 1;
    transform: scale( @anim-scale );
  }
  100% {
    left: @image-left;
    transform: scale(1);
  }
}


@-webkit-keyframes show-out-to-right {
  0% {
    left: @image-left;
    transform: scale(1);
  }
  20% {
    left: @image-left;
    opacity: 1;
    transform: scale( @anim-scale );
  }
  100% {
    left: @anim-left;
    opacity: 0;
    transform: scale( @anim-scale );
  }
}